.footer {
  width: 100%;
  height: 618px;

  &__container {
    margin: auto;
    padding: 140px 140px;
    width: 1440px;
    height: 618px;
  }

  &__top {
    width: 1160px;
    height: 222px;
    display: flex;
    align-items: start;
    justify-content: space-between;

    &__part1 {
      display: flex;
      flex-direction: column;
      gap: 40px;

      &__up {
        display: flex;
        align-items: end;
        gap: 24px;
      }

      &__low {
        display: flex;
        gap: 25px;
      }
    }

    &__part1 p {
      width: 202px;
      font-family: "Montserrat Alternates";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 160%;
      color: #4d4d4d;
    }

    &__part4 {
      display: flex;
      flex-direction: column;
      gap: 60px;

      &__part4 p {
        font-family: "Montserrat Alternates";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        color: #4d4d4d;
      }

      &__up {
        display: flex;
        flex-direction: column;
        gap: 29px;

        &__logos {
          display: flex;
          gap: 38px;
        }
      }

      &__low {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__logos {
          display: flex;
          gap: 20px;
        }
      }
    }

    &__li {
      margin-bottom: 20px;
    }

    &__link {
      font-family: "Montserrat Alternates";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 160%;
      color: #000000;
    }

    &__link:hover {
      color: #cd4631;
    }

    &__part4 p {
      font-family: "Montserrat Alternates";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 160%;
      color: #4d4d4d;
    }
  }

  &__li {
    margin-bottom: 20px;
  }

  &__link {
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #000000;
  }

  &__link:hover {
    color: #cd4631;
  }

  &__hr {
    margin-top: 137px;
    width: 1160px;
    height: 0px;
    border: 0.5px solid #4d4d4d;
  }

  &__bottom {
    width: 1160px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__bottom p {
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    color: #4d4d4d;
  }

  &__bottom span{
    color: #CD4631;
  }
}
